.benefits{
    height: 100vh;
    width: 100%;
    background-image: url('https://res.cloudinary.com/ds3qgsy6r/image/upload/v1790948708/Soft_Blue_Mint_Gradient_Background_tnomrg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: all 0.3s ease-in-out;
}
.benifits-Header{
    margin-bottom: 40px;
}
.Apply-Button{
    width: 150px;
    height: 50px;
    max-height: 55px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border: solid 2px brown;
    border-radius: 20px;
}
.Apply-Button:hover{
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}